.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
}
.header__container {
  /*display: flex;
  align-items: center;
  gap: 60px;*/
  display: grid;
  align-items: center;
  gap: 60px;
  grid-template-columns: 150px 1fr 0.8fr;
}
.header__menu {
  flex-grow: 1;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
}
.menu__list :hover {
  text-decoration: underline;
}
.menu__link {
  font-weight: 700;
}

.actions-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 36px;
  align-items: center;
}

.action-header__auth {
  background: url(../img/icons/user.png) left no-repeat;
  padding-left: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.action-header__auth:hover {
  text-decoration: underline;
}