@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

html,
body {
	font-family: "Space Grotesk", sans-serif;
	height: 100%;
}

a {
	font-family: "Space Grotesk", sans-serif;
}
.wraper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;

	& > main {
		flex-grow: 1;
	}
}
hr {
	border: 0;
	border-top: 1px solid #1e212c;
	margin-bottom: 50px;
}

[class*="__container"] {
	max-width: 100%;
	min-width: 320px;
	padding: 0px 40px;
	margin-bottom: 30px;
}

/*.section {
	padding: 40px 80px;
	background-color: #f2f2f2;
	margin-bottom: 60px;
	position: relative;
	height: 100%;
}*/
.header {
	h2 {
		color: #1e212c;
		font-size: 26px;
		font-weight: 700;
	}
}

.block {
	&__row {
		display: flex;
		flex-wrap: wrap;
		/*row-gap: 20px;*/
		margin: 0 -7.5px;
	}
	&__column {
		flex: 0 1 50%;
		padding: 0px 7.5px;
	}
}

.left {
	&__text {
		color: #1e212c;
		font-size: 12px;
		margin-bottom: 10px;
	}
	.row:not(:last-child) {
		margin-bottom: 20px;
	}
	&__row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		row-gap: 22px;
		margin: 0 -7.5px;
	}
	&__column {
		flex: 0 1 100%;
		padding: 0px 7.5px;
	}

	&__block {
		border: 2px solid #1e212c;
		border-radius: 5px;
		background-color: #4f63ad;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		border-radius: 5px;
		display: block;
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		align-items: center;
		padding: 10px;
		border: 5px solid #fff;
	}
}

.left__block--justify-center {
	justify-content: center;
}

.left__block--justify-end {
	justify-content: flex-end;
}
.left__block--space-between {
	justify-content: space-between;
}
.left__block--space-around {
	justify-content: space-around;
}

.left__block--space-evenly {
	justify-content: space-evenly;
}

/*----*/

.right {
	&__text {
		color: #1e212c;
		font-size: 12px;
		margin-bottom: 10px;
	}
	/*	.row:not(:last-child) {
		margin-bottom: 20px;
	}*/
	&__row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		row-gap: 81px;
		margin: 0 -7.5px;
	}
	&__column {
		flex: 0 1 100%;
		padding: 0px 7.5px;
	}

	&__block {
		border: 2px solid #1e212c;
		border-radius: 5px;
		background-color: #4f63ad;
		display: flex;
		flex-wrap: wrap;
		height: 80px;
	}
	&__item {
		display: block;
		color: #fff;
		border-radius: 5px;
		font-size: 20px;
		font-weight: 700;
		align-items: center;
		padding: 10px;
		border: 5px solid #fff;
	}
}

.block {
}

.right__block--align-flex-start {
	justify-content: center;
	align-items: flex-start;
}
.right__block--align-flex-end {
	justify-content: center;
	align-items: flex-end;
}

.right__block--align-center {
	justify-content: center;
	align-items: center;

	.right__item:nth-child(1) {
		order: 2;
	}
	.right__item:nth-child(2) {
		order: 4;
	}
	.right__item:nth-child(3) {
		order: 1;
	}
	.right__item:nth-child(4) {
		order: 3;
	}
}

/*----*/

.direction {
	&__text {
		color: #1e212c;
		font-size: 16px;
		margin-bottom: 10px;
	}

	&__block {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		border: 2px solid #1e212c;
		border-radius: 5px;
		height: 300px;
	}
	&__item {
		display: block;
		color: #fff;
		border-radius: 5px;
		background-color: #4f63ad;
		font-size: 20px;
		font-weight: 700;
		align-items: center;
		text-align: center;
		padding: 10px;
		border: 5px solid #fff;
	}
}

.grow {
	&__text {
		color: #1e212c;
		font-size: 16px;
		margin-bottom: 10px;
	}

	&__block {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		border: 2px solid #1e212c;
		border-radius: 5px;
		align-items: stretch;
		height: 180px;
	}
	&__item {
		display: block;
		color: #fff;
		background-color: #4f63ad;
		font-size: 20px;
		font-weight: 700;
		align-items: center;
		text-align: center;
		padding: 10px;
		border: 5px solid #fff;
		border-radius: 5px;
		&:nth-child(2) {
			align-self: center;
			flex-shrink: 0;
			flex-grow: 1;
			flex-basis: 100px;
			/*flex: 0 1 25%;*/
		}
	}
}

.text-block {
	color: #1e212c;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 110%;
		/*&:not(:last-child) {
			margin-bottom: 20px;
		}*/
	}

	&__text {
		line-height: 120%;
		/*&:not(:last-child) {
			margin-bottom: 20px;
		}*/
	}

	&__link {
		color: orangered;
		display: inline-block;
		&:hover {
			font-weight: 700;
		}
	}
}

.cards {
	margin-bottom: 20px;
	&__column {
		flex: 0 1 33.33%;
		padding: 0 15px;
	}
	&__inner {
		display: flex;
		margin: 0 -15px;
	}
	&__item {
		min-height: 100%;
	}
}
.item-card {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: flex-start;

	&__image {
		& img {
			width: 100%;
		}
	}

	&__title {
		font-weight: 700;
	}

	&__text {
		flex-grow: 1;
	}

	&__button {
		display: inline-block;
		width: 100%;
		text-align: center;
		background-color: orangered;
		color: #fff;
		padding: 10px;
		border-radius: 5px;
		/*transition: all 0.8s ease-in 0;*/
		&:hover {
			background-color: orange;
		}
	}
}
.page {
	&__link {
		display: inline-flex;
		gap: 15px;
		align-items: center;
		color: #150460;
		&::before {
			content: "";
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			background-color: #0034ef;
		}
	}
}
.object {
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__block {
		display: flex;
		align-items: flex-start;
		gap: 20px;
		padding: 20px;
		background-color: #4f63ad;
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
	}

	&__img {
		flex: 0 0 160px;
		& img {
			width: 100%;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__title {
		font-weight: 700;
	}

	&__text {
		line-height: 120%;
		flex-grow: 1;
	}
}

footer {
	.footer {
		&__info {
			padding: 0 5% 0 5%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				font-weight: 700;
				font-size: 14px;
				line-height: 1.5px;
			}
			a:hover {
				color: #150460;
			}
		}
	}
}

@media (max-width: 768px) {
	.object__block {
		flex-direction: column;
		&:nth-child(even) {
			flex-direction: column;
		}
	}
	.cards {
		&__inner {
			flex-direction: column;
			gap: 20px;
		}
	}
	.block__row {
		flex-direction: column;
	}
	.right__row {
		row-gap: 20px;
	}
}
